In [1]:
import pandas as pd
import os
import statistics
import numpy

input= "../Resources/purchase_data.csv"

In [2]:
df=pd.read_csv(input)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
# Player Count
#o of players
players=df["SN"].unique()
players_count_df=pd.DataFrame({"Total Players Count":[len(players)]})
players_count_df.head()

   Total Players Count
0                  576

In [4]:
#Purchasing Analysis (Total)

#1.Number of Unique Items
uniquegames=df["Item Name"].unique()

In [5]:
#2.Average Purchase Price
avg_price=round(df["Price"].mean(),2)

In [6]:
#3.Total Number of Purchases
no_of_purchases=df["Purchase ID"].count()

In [7]:
#4.Total Revenue
Total_Revenue= df["Price"].sum()
Total_df=pd.DataFrame({"Number of Unique Items":[len(uniquegames)],"Average Price":[avg_price],"No of Purchases":[no_of_purchases],
                       "Revenue":[Total_Revenue] })

Total_df

   Number of Unique Items  Average Price  No of Purchases  Revenue
0                     179           3.05              780  2379.77

In [8]:
#Gender Demographics(Total Count and Percentage of Players)
#1.  Count of Male Players
# Count of Female Players
# Count of Other / Non-Disclosed

uniqueplayercount= df.groupby('Gender')['SN'].nunique()
uniqueplayercount

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [9]:
_#2percentage=gender/no_of_purchases

percentage= round((uniqueplayercount/len(players))*100,2)
percentage

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [10]:
gender_df=pd.DataFrame(data={"No of Playeres":uniqueplayercount,"Percentage of players":percentage})
gender_df

                       No of Playeres  Percentage of players
Gender
Female                             81                  14.06
Male                              484                  84.03
Other / Non-Disclosed              11                   1.91

In [11]:
#Purchasing Analysis (Gender)

# The below each broken by gender
  # Purchase Count
purchase_count=df["Gender"].value_counts()
purchase_count.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
 # Average Purchase Price
genderdf=df.groupby("Gender")
avgprice=genderdf["Price"].mean()

In [13]:
 # Total Purchase Value by gender
value_bygender=genderdf["Price"].sum()
value_bygender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
# Average Purchase Total per Person by Gender

avgbygenderbyuniqueplayers=value_bygender/uniqueplayercount
avgbygenderbyuniqueplayers

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [15]:
#Purchasing Analysis (Gender) DATAFRAME
purchase_df=pd.DataFrame(data={"Purchase Count":purchase_count,
"Average Purchase Price":avgprice,
"Total Purchase Value":value_bygender,
"Avg Total Purchase per Person":avgbygenderbyuniqueplayers})
purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [16]:
#Age Demographics

# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
bins =[0,9,14,19,24,29,34,39,100]
group_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
df["Age Summary"]=pd.cut(df["Age"],bins,labels=group_names,include_lowest=True)
df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39

In [17]:
#1. Purchase Count
purchasedf=df.groupby("Age Summary")["SN"].nunique()
purchasedf

Age Summary
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [18]:
#2. Average Purchase Price
avgpurchase_df=round(df.groupby("Age Summary")["Price"].mean(),2)
avgpurchase_df

Age Summary
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [19]:
 #3. Total Purchase Value
totalprice_df=round(df.groupby("Age Summary")["Price"].sum(),2)
totalprice_df

Age Summary
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [20]:
#4. Average Purchase Total per Person by Age Group

avgprice_df=round(totalprice_df/purchasedf,2)
avgprice_df

Age Summary
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [21]:
AgeDemographics_df=pd.DataFrame({"Purchase Count":purchasedf,
                                "$Avg Purchase Price":avgpurchase_df,
                                "$Total Purchase Value":totalprice_df,
                                "$Avg Total Purchase per person":avgprice_df})
AgeDemographics_df.reset_index(inplace=True)
AgeDemographics_df

,Age Summary,Purchase Count,$Avg Purchase Price,$Total Purchase Value,$Avg Total Purchase per person
0,<10,17,3.35,77.13,4.54
1,10-14,22,2.96,82.78,3.76
2,15-19,107,3.04,412.89,3.86
3,20-24,258,3.05,1114.06,4.32
4,25-29,77,2.90,293.00,3.81
5,30-34,52,2.93,214.00,4.12
6,35-39,31,3.60,147.67,4.76
7,40+,12,2.94,38.24,3.19

In [22]:
#Top Spenders
#1.Purchase Count
purchasecount=df.groupby("SN")["Purchase ID"].nunique()
purchasecount

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [23]:
# 2. Average Purchase Price
Avgprice=df.groupby("SN")["Price"].mean()
Avgprice

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [24]:
# 3. Total Purchase Value
Totalprice=df.groupby("SN")["Price"].sum()
Totalprice

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [25]:
top_spenders_df=pd.DataFrame({"Purchase Count":purchasecount,      #create the dataframa
                                "$Avg Purchase Price":Avgprice,
                                "$Total Purchase Value":Totalprice})
top_spenders_df=top_spenders_df.sort_values(["$Total Purchase Value"],ascending=False) #Order by highset to lowest
top_spenders_df.head(5)  #displays the top 5 spenders

             Purchase Count  $Avg Purchase Price  $Total Purchase Value
SN
Lisosia93                 5             3.792000                  18.96
Idastidru52               4             3.862500                  15.45
Chamjask73                3             4.610000                  13.83
Iral74                    4             3.405000                  13.62
Iskadarya95               3             4.366667                  13.10

In [26]:
 #Most Popular Items
new_df=df[["Item ID", "Item Name","Price"]]
new_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [27]:
#Item Count
Purchasecount=new_df.groupby(["Item ID","Item Name"])["Price"].count()
Purchasecount

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [28]:
#Item Price
ItemPrice=round(new_df.groupby(["Item ID","Item Name"])["Price"].mean(),2)
ItemPrice

Item ID  Item Name
0        Splinter                                        1.28
1        Crucifer                                        2.94
2        Verdict                                         2.48
3        Phantomlight                                    2.49
4        Bloodlord's Fetish                              1.70
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.23
179      Wolf, Promise of the Moonwalker                 4.48
181      Reaper's Toll                                   1.66
182      Toothpick                                       4.03
183      Dragon's Greatsword                             1.09
Name: Price, Length: 179, dtype: float64

In [29]:
#Total Purchase Value
TotalPrice=new_df.groupby(["Item ID","Item Name"])["Price"].sum()
TotalPrice

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [30]:
#Most Popular Items
PopularItems_df=pd.DataFrame({"Purchase Count":Purchasecount,
                       "$Item Price":ItemPrice,
                        "$Total Price":TotalPrice})

#Format the rows in the columns

PopularItems_df=PopularItems_df.sort_values(["Purchase Count"],ascending=False)
PopularItems_df.reset_index(inplace=True)
PopularItems_df["$Item Price"]= PopularItems_df["$Item Price"].astype(float).map("${:.2f}".format)
PopularItems_df.head(5)

,Item ID,Item Name,Purchase Count,$Item Price,$Total Price
0,92,Final Critic,13,$4.61,59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
2,145,Fiery Glass Crusader,9,$4.58,41.22
3,132,Persuasion,9,$3.22,28.99
4,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77

In [31]:
#Most Profitable Analysis
MostProfitable_df=PopularItems_df.sort_values(["$Total Price"],ascending=False)

MostProfitable_df.reset_index(inplace=True)
MostProfitable_df.drop(columns="index",inplace=True)
MostProfitable_df.head(5)

,Item ID,Item Name,Purchase Count,$Item Price,$Total Price
0,92,Final Critic,13,$4.61,59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
2,82,Nirvana,9,$4.90,44.10
3,145,Fiery Glass Crusader,9,$4.58,41.22
4,103,Singed Scalpel,8,$4.35,34.80